@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:ital,wght@0,300;0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: url(https://res.cloudinary.com/okorosamuel/image/upload/v1699871731/cld-sample-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  backdrop-filter: blur(5px);
}

header {
  text-align: center;
  background: transparent;
  display: flex;
}

a {
  text-decoration: none;
}

.header__logo {
  position: relative;
  left: 1rem;
  bottom: 2rem;
  font-size: 2rem;
  font-weight: 1000;
  color: #2980b9;
  font-family: "agbalumo", poppins;
  cursor: pointer;
}

.title {
  display: flex;
  margin: auto;
  color: #2980b9;
}

.container {
  position: relative;
  bottom: 5rem;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /* height: 100vh; */
  overflow-y: scroll;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-info {
  flex: 1;
  flex-direction: column;
  display: flex;
  overflow-y: scroll;
}

label {
  margin-left: 1rem;
}

input {
  outline: none;
  margin: 0.6rem;
  width: 60%;
  color: #666;
}

.name {
  font-size: 2rem;
  border: none;
  border-bottom: 2px solid #333;
}

.email {
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #333;
}

.phone {
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #333;
}

.password {
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #333;
}

h2 {
  color: #333;
}

.button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9;
  transform: scale(1.07);
}

.hidden {
  display: none;
}

#bookmarks {
  list-style: none;
  padding: 0;
  /* height: 15rem; */
  overflow-y: scroll;
}

#bookmarks li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#bookmarks li:hover {
  transform: scale(1.01);
}

#bookmark__results {
  list-style: none;
  margin-bottom: 2rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  overflow-y: scroll;
  width: 90%;
}

#bookmarks li img {
  display: block;
  width: 7%;
  height: 7%;
  object-fit: cover;
  transition: all 0.3s;
}
/* 
#bookmarks strong {
  font-size: 1rem;
} */
